<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <h2>Please enter details:</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name"
               name="name" [(ngModel)]="add.name" placeholder="Enter your name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="age">Age:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="age"
               name="age" [(ngModel)]="add.age" placeholder="Enter your age">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="address">Address:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="address"
               name="address" [(ngModel)]="add.address" placeholder="Enter your address">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" (click)="addEmployee()">Save</button>
      </div>
    </div>
  </form>
  <h2>List of employees:</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th width=200>Name</th>
      <th width=200>Age</th>
      <th width=200>Address</th>
      <th width=250>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees; let i=index">
      <td>{{employee.name}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.address}}</td>
      <td>
        <a class="btn btn-success" (click)="editEmployee(i)">Edit</a>
        <a class="btn btn-danger" (click)="deleteEmployee(i)">Delete</a>
      </td>
    </tr>


    </tbody>
  </table>
  <h2>Update employee details:</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name"
               name="name" [(ngModel)]="update.name" placeholder="Enter your name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="age">Age:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="age"
               name="age" [(ngModel)]="update.age" placeholder="Enter your age">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="age">Address:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="address"
               name="address" [(ngModel)]="update.address" placeholder="Enter your address">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" (click)="updateEmployee()">Update</button>
      </div>
    </div>
  </form>
</div>
